version: '3.8'

services:
 
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: myuser         
      POSTGRES_PASSWORD: mypassword 
      POSTGRES_DB: hotel_db         
    ports:
      - "5435:5432"                 
    volumes:
      - pg_data:/var/lib/postgresql/data 

 

volumes:
  pg_data: